table { 
    width: 100%;
    margin: 15px;
}
table, th,tr,td {
    text-align: center;
}

tr:hover {
    border-bottom: 1px solid rgba(14, 16, 17,0.85) ;
    border-top: 1px solid rgba(14, 16, 17,0.85) ;
    background-color:rgba(14, 16, 17,0.35);
}
div[class*='ranking-wrapper'] {
    border-radius: 15px;
    overflow: hidden;
}