@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
*{
    color: rgb(215, 220, 224);
}
table { 
    margin: 15px;
}
table, th,tr,td {
    text-align: center;
}

tr:hover {
    border-bottom: 1px solid rgba(14, 16, 17,0.85) ;
    border-top: 1px solid rgba(14, 16, 17,0.85) ;
    background-color:rgba(14, 16, 17,0.35);
}
div[class*='ranking-wrapper'] {
    border-radius: 15px;
    overflow: hidden;
}


.rank-btn {
    min-width: 100px;
    height: 35px;
    background-color:rgb(16, 17, 21);
    border: 1px solid rgb(29, 30, 35);
    border-radius: 5rem;
}
.rank-btn:active{
    border-radius: 5rem;
    color: rgb(147, 141, 255);
    border-color: rgb(33, 32, 57);
    background-color: rgb(33, 32, 57);
} 
#ranking-container > * { 
    margin-left: 15px;
}
