<div>
  <h1> Leaderboard</h1>
  
  <button class="rank-btn"> All Time </button>
  <button class="rank-btn"> Past Month </button>                    
  <button class="rank-btn"> This Month </button>
  <button class="rank-btn"> Past Week </button>
</div>
<hr>
<table class="table table-dark table-hover" >
      <tr>
        <th>Ranking</th>
        <th>User Name</th> 
        <th>Email</th>
        <th>Points</th>
        <th>Balance</th>
      </tr>
    <tr  *ngFor="let player of users">
      <td>{{player.rank}}</td>
      <td>{{player.nickname}}</td>
      <td> {{player.email}}</td>
      <td>{{player.points}}</td>       
      <td>{{player.balance}}</td>       
    </tr>
</table>

