
<div>
 
    <mat-slide-toggle style="margin:10px" [(ngModel)]="proMode">
        Pro Mode 
    </mat-slide-toggle>
    <div [hidden]="!proMode">
        <button  mat-button (click)="show('BTC');"> BTC-USD </button>
        <button  mat-button (click)="show('CAD');"> CAD-USD </button>
        <button  mat-button (click)="show('XAU');"> XAU-USD </button>
        <button  mat-button (click)="show('SPY');"> SPY-USD </button>
    </div>
    <mat-icon 
        style="color: rgb(65, 65, 65)!important; font-size:1.3rem; margin-top:10px;display:block; position:absolute; right: 25px; top: 5px;"
        matTooltip="Price Chart: You can observe market from here">
        help
    </mat-icon>
</div>
<hr>
<div  [hidden]="proMode" id="tradingview_11397"></div>

<div [hidden]="!proMode">
    <div [hidden]="hideBTC" class="pro-mode" id="tradingview_ce365" style="height:60vh"></div>
    <div [hidden]="hideCAD" class="pro-mode" id="tradingview_a4527" style="height:60vh"></div>
    <div [hidden]="hideSPY" class="pro-mode" id="tradingview_4c981" style="height:60vh"></div>
    <div [hidden]="hideXAU" class="pro-mode" id="tradingview_34a83" style="height:60vh"></div>
</div>

