
<div>
    <mat-slide-toggle style="margin:10px" [checked]="setProMode();">
        Pro Mode
    </mat-slide-toggle>
    <mat-icon 
        style="color: rgb(65, 65, 65); font-size:1.3rem; margin-top:10px"
        matTooltip="Price Char: You can observe market from here"
        aria-label="Button that displays a tooltip when focused or hovered over">
        help
    </mat-icon>
    <div [hidden]="!proMode">
        <button  mat-button (click)="show('BTC');"> BTC-USD </button>
        <button  mat-button (click)="show('ETH');"> ETH-USD </button>
    </div>
</div>
    <i style="display:block; position:absolute; right: 25px; top: 25px;" class="fas fa-bell"></i>
<hr>
<div  class="pro-mode" id="tradingview_11397"></div>
<div [hidden]="hideBTC" class="pro-mode" id="tradingview_ce365" style="height:60vh"></div>
<div [hidden]="hideETH" class="pro-mode" id="tradingview_adef8" style="height:60vh"></div>
<span> Price 1</span>
<span style="float:right"> Price 2</span>
<div id="game-tracker-container" class="container-fluid d-flex flex-wrap flex-row justify-content-center align-items-center">
    <div id="image1" class="cropcircle"> </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h1 data-heading="Vs">vs</h1>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div id="image2" class="cropcircle"></div>
</div>
<span> user_id</span>
<span style="float:right"> ROBOT-05</span>
