<div fxLayout="row" fxLayout.xs="column"> 
        <div class="container-1" fxLayout="column" fxFlexAlign="baseline">
                <app-chart-view></app-chart-view>
                <app-ranking ></app-ranking>
        </div>
        
        <div class="container-2" fxLayout="column"  fxFlexAlign="center">
                <div>
                        <app-control></app-control>
                </div>
                <div>
                        <app-history></app-history>
                </div>
        </div>
</div>
