mat-card { 
    background: rgb(15, 15, 15);
    margin: 15px;
    resize: both;
}
h3 { 
    color: aliceblue;
}
.chart {
    width: 800px;
    max-width: 85%;
    height: 500px;
}
.control { 
    width: 150px;
}