mat-card { 
    background: rgb(15, 15, 15);
    min-width: max-content;
    margin: 15px;
    resize: both;
    resize:both;
    overflow:auto; 
    min-height: max-content;
    min-height: max-content;
    color: aliceblue;
}
h3 { 
    color: aliceblue;
}

.container {
    display: flex;
}
.chart {
    width: 800px;
    max-width: 85%;
    height: 500px;
}
.control { 
    width: 350px;
}