mat-list { 
    min-height: 200px;
    display: flex;
    align-items: center;
}
button {
    background: none;
}
span,h1 {
    font-family: 'Syne', sans-serif;
}
h1,h2,h3{ 
    font-weight: bold;
}
mat-list-item {
    margin: 5px;
    max-width: 100px;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
    border: none;
    
}
mat-list-item button {
    min-width: 80px;
    border: #5d5966 1px solid;
    border-radius: 10px;
    background: rgba(240, 248, 255,0.05);
    backdrop-filter: blur(10px);
}
mat-list-item button:hover {
    background-image: linear-gradient(to left, rgba(143, 111, 218,0.8), rgba(228, 131, 192,0.8));
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    transition-duration: 0.4s;
    backdrop-filter: blur(5px);
}

mat-card { 
    width: 100%;
}

.ls-btns button {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    margin: 5px;
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg); 
}
button {
    color: aliceblue;
}
form {
    margin: 25px;
}
.control-wrapper {
    overflow: hidden;
    border-radius: 15px;
}

#long-btn {
    background-image: linear-gradient(to right top, #1a3763, #bbe464);

}
#long-btn:hover {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    box-shadow:
    0 0 60px 10px #fff,  /* inner white */
    0 0 100px 20px #47db78, /* middle magenta */
    0 0 140px 50px #5183df; /* outer cyan */}  
#short-btn{ 
    background-image: linear-gradient(to right bottom, #ce79fc, #ee4b53);
}
#short-btn:hover {
    box-shadow:
    0 0 60px 10px #fff,  /* inner white */
    0 0 100px 20px #03a9f4, /* middle magenta */
    0 0 140px 50px #ff0058; /* outer cyan */
    background-image: linear-gradient(to right bottom, #a939e5, #d900b6, #ee0086, #f10059, #e52730);
}