<div class="control-wrapper">
    <form>
        <h1> Guess the Price & Win the Point </h1>
        <span> Battle against another player in 5 minutes session the win the price </span>
        <mat-list fxLayout="row wrap"  fxFlexAlign="center">
            <mat-list-item> <button  mat-flat-button > 1 Coin </button> </mat-list-item>
            <mat-list-item> <button  mat-flat-button > 5 Coin </button> </mat-list-item>
            <mat-list-item> <button  mat-flat-button > 10 Coin </button> </mat-list-item>
            <mat-list-item> <button  mat-flat-button > 50 Coin </button> </mat-list-item>
        </mat-list>
        <div fxLayout="row wrap"  fxFlexAlign="center" class="ls-btns">
            <button mat-raised-button fxFlex="47%" id="long-btn">LONG</button>
            <button mat-raised-button  fxFlex="47%" id="short-btn">SHORT</button>
        </div>
    </form>
</div>
