mat-list { 
    min-height: 200px;
    display: flex;
    align-items: center;
}
.ls-container {
    display: flex;
    align-items: center;
}
.ls-container button {
    display: block;
    margin: 5px;
    min-width: 200px;
    min-height: 60px;
}
mat-card { 
    width: 100%;

}

form {
    margin: 25px;
}
.control-wrapper {
    overflow: hidden;
    border-radius: 15px;
}