    <form>
        <h2>Guess the Price & Win the Point</h2>
        <span> Battle against another player in 5 minutes session the win the price </span>
        <mat-list>
            <mat-list-item> <button  mat-flat-button color="accent"> 1 Coin </button> </mat-list-item>
            <mat-list-item> <button  mat-flat-button color="accent"> 5 Coin </button> </mat-list-item>
            <mat-list-item> <button  mat-flat-button color="accent"> 10 Coin </button> </mat-list-item>
            <mat-list-item> <button  mat-flat-button color="accent"> 50 Coin </button> </mat-list-item>
        </mat-list>
        <div class="ls-container">
            <button mat-raised-button color="primary">Long</button>
            <button mat-raised-button color="warn">Short</button>
        </div>
    </form>
