<app-main-nav></app-main-nav>
<div class="background">
    <div class="login-container">
      <div class="form-container">
        <h1>Register</h1>
        <h5>Create your BinaryBattle account</h5>
        <app-login-form ></app-login-form>
      </div>
      <div class="text-container">
        <h1>Hey Buddy</h1>
        <p>
          Already have an awesome account? Go ahead and click the button below to
          sign in!
        </p>
        <button mat-button routerLink="/login">Sign in</button>
      </div>
    </div>
  </div>