<div class="wrapper-history">
    <h1> 
      <mat-icon>account_circle</mat-icon>
      {{username}}
    </h1>
    <table style="width:80%" id="printarea">
      <tr>
        <th>Result</th>
        <th>PnL</th>
        <th>Points</th>
  
      </tr>
      <tr  *ngFor="let game of games">
        <td> 
          <ng-template [ngIf]="game.res==true"><div>Victory</div></ng-template> 
          <ng-template [ngIf]="game.res==false"><div>Lost</div></ng-template> 
          {{game.date}}
        </td>
        <td>{{game.pnl}} Coins</td>
        <td>{{game.pnlPoint}} </td>
      </tr>
    </table>
  </div> 