<div class="wrapper-history">
  <table class="table table-dark table-hover" id="printarea">
    <tr>
      <th>Result</th>
      <th>PnL</th>
      <th>Points</th>

    </tr>
    <tr  *ngFor="let game of games">
      <td><div *ngIf="game.res; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>Won.</ng-template>
        <ng-template #elseBlock>Lost</ng-template> {{game.date}} </td>
      <td>{{game.pnl}} Coins</td>
      <td>{{game.pnlPoint}} </td>
    </tr>
  </table>

</div> 
