<div class="container-fluid">
    <div class="header-container">
      <img src="https://images.unsplash.com/photo-1638005906847-672f9fe8061d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" class="header-image" />
      <div class="header">
        <h1 class="main-heading">My Hien <span><mat-icon>drag_indicator</mat-icon>
        </span> </h1>
        
        <span class="tag"> Raising Star</span>
        <span class="tag">150% Ape</span>
     
      </div> <!-- END header -->
    </div>
    
    <div class="">
      <div id="image1" class="cropcircle"></div>
      <div fxLayout="row wrap" fxAlign="justify-content-evenly">
        <h3 class="body-stats"> Balance: <span>355  </span><i class="fab fa-gg-circle"></i></h3>
        <h3 class="body-stats">Points: <span>1903  </span></h3>
        <mat-icon 
        style="display: block; position: absolute; right: 5px; bottom: 5px; color: rgb(65, 65, 65);"
              matTooltip="Account: Providing basics information of your Account"
              aria-label="Button that displays a tooltip when focused or hovered over">
              help
          </mat-icon>
      </div>
    </div>
    
  </div>