<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar id="nav-bar"> 
        <a class='logo' routerLink=""> 
          <i class="fas fa-coins"></i>
          BINARY-BATTLE
        </a>
        <span class="space"></span>
          
        <div class="hidden-tablet" >
          <button mat-button  data-bs-toggle="modal" data-bs-target="#exampleModal" id="show-guide" routerLink="/battle"> GUIDE</button>
        </div>

        <button class="hidden-tablet" mat-flat-button color="primary" routerLink="/battle" id="battle-btn"> 
          <mat-icon>sports_mma</mat-icon> BATTLE
        </button> 
        <div id="login-btn">
          <button  mat-button routerLink="/Authentication">
            <mat-icon>input</mat-icon>
          </button>
        </div>  
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
  