
.position-size{
    height: 50px;
    border: #5d5966 1.2px solid;
    border-radius: 10px;
    background: rgba(240, 248, 255,0.05);
    backdrop-filter: blur(10px);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
button {
    background: none;
}

.wrapper {
    margin: 25px;
}
::ng-deep .mat-radio-button,
::ng-deep .mat-radio-button .mat-radio-label{
  width:100%;
}    

::ng-deep .mat-radio-button .mat-radio-container {
  width: 0;
}
::ng-deep .mat-radio-container .mat-radio-outer-circle,
::ng-deep .mat-radio-container .mat-radio-inner-circle {
  border: none;
  width: 0;
}
    :host ::ng-deep .mat-radio-button .mat-radio-ripple{
        display: none;
}
mat-form-field {
    display:none !important;
}
#stake-input {
    text-align: center;
    display: block;
    width:40%;
    font-weight: bold;
    font-size: 1.1rem;
    min-width: 200px;
    height: 45px;
    background-color: rgb(33, 32, 57);
    border: 1px solid rgb(29, 30, 35);
    border-radius: 5rem;
}#match-input {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
    width:70%;
    min-width: 200px;
    height: 45px;
    background-color: rgb(33, 32, 57);
    border: 1px solid rgb(29, 30, 35);
    border-radius: 5rem;
}
 .mat-button-focus-overlay {
   background-color:transparent !important;
  }
input:focus {
    border-radius: 5rem;
    color: rgb(147, 141, 255);
    border-color: rgb(33, 32, 57);
    background-color: rgb(33, 32, 57);
    outline:none !important;
} 
.mat-radio-button {
    width: 70px;
    padding: 10px;
    border-radius: 25rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid rgb(168, 173, 241);
    background-color: rgb(147, 141, 255);
    color: rgb(194, 194, 194);
    transition: transform 0.5s; /* Animation */
}
.mat-radio-button:hover {
    border: 2px solid rgb(168, 173, 241);
    background-color: rgb(114, 112, 172);
    color: rgb(170, 172, 201);
    -webkit-transform: scale(0.93);
	        transform: scale(0.93);
}
[class*="bet"] {
    border: 2px solid #86ac99 !important;
    color: rgb(186, 227, 235);
    background-color: #4fb180 !important;
}
[class*="bet"]:hover {
    border: 2px solid #9ac2af !important;
    background-color: #3c8560 !important;
    color: rgb(223, 224, 235);
    -webkit-transform: scale(0.93);
	        transform: scale(0.93);
}
[class*="bet-container"]:hover::after {
    background: linear-gradient(60deg, #5f86f2, #4fb180, #b5e780, #1f1f1f);
    border: rgb(69, 137, 177) 3px solid;
    background: none;
    animation: moveGradient 4s alternate infinite;
}



.layer1 {
    background-color: #18191e;
}
mat-slider { 
    width: 100%;
}


#long-btn, #short-btn {
    font-size: 2rem;
    height: 60px;
    display:block;
    border-radius: 5px;
}
#long-btn:hover {
    background-image: linear-gradient(315deg, #1f1f1f 0%, #88e763 74%);

}
button,input{
    color: aliceblue;
}

#long-btn {
    background-image: linear-gradient(315deg, #1f1f1f 0%, #568045 74%);
    border: 1px solid rgb(82, 82, 82);
    color: rgb(202, 202, 202);
}

#short-btn{ 
    background-color: #000000;  
    background-image: linear-gradient(115deg, #242424 0%, #514772 74%);
    border: 1px solid rgb(82, 82, 82);
    color: rgb(202, 202, 202);
}

.u-btn {
    background: none;
    border: none;
    padding:0.5rem 1rem;
}

.account-balance {
    font-size: 25 rem;
}
.size-slider {
    width: 100%;
}
.u-btn:active::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 4px;
    background-color: rgb(147, 141, 255);
    border-radius: 1rem
}
mat-stepper{
    background:none;
}
.down {
    display: inline-block;
    transform: rotate(180deg); 
}



/*test */
.gradient-border {
    --border-width: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    background: #222;
    border-radius: var(--border-width);
}
#long-btn:hover::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #4fb180, #b5e780, #1f1f1f);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    border: rgb(69, 137, 177) 2px solid;
    animation: moveGradient 4s alternate infinite;
}
#short-btn:hover::after{
    position: absolute;
    content: "";
    border: rgb(147, 141, 255) 2px solid;
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #1f1f1f);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}
@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
   }
}
