
<form>  
        <!-- <div>
            <h1> Guess the Price & Win the Point </h1>
            <span> Battle against another player in 5 minutes session the win the price </span>
        </div> -->
        <hr>
        <div class="collapse"   >
            <h1>Time period (Seconds)</h1>
                <mat-slider style="margin-left: 15px;"
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="30"
                step="30"
                min="0"
                max="180"
                aria-label="units">seconds</mat-slider>
        </div>
        <mat-stepper dynamicHeight>
            <mat-step label="Game duration:current_value" state="phone">
                    <!-- <button mat-flat-button> - </button> -->
                    <mat-slider style="height: 70px; width:70%; display: block; margin-left: 15px;"
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="30"
                        step="30"
                        min="0"
                        max="180"
                        aria-label="units">seconds</mat-slider>
                        <!-- <button mat-flat-button> - </button> -->                
            </mat-step>
            <mat-step label="Threshold:current_value" state="chat" fx>
                <mat-form-field appearance="fill" floatLabel="always" fxLayout="row wrap"  fxFlexAlign="center">
                    <mat-label>Thresh Hold (%) </mat-label>
                    <input matInput type="number" name="timer" step="15" id="timer" placeholder="1%">
                    <span matSuffix>%</span>
                </mat-form-field>
            </mat-step>
            <mat-step label="Stake: :current_value">
                <mat-list  fxLayout="row wrap"  fxFlexAlign="center">
                    <mat-list-item> <button  mat-flat-button > 1 <i class="fab fa-gg-circle"></i> </button> </mat-list-item>
                    <mat-list-item> <button  mat-flat-button > 5 <i class="fab fa-gg-circle"></i> </button> </mat-list-item>
                    <mat-list-item> <button  mat-flat-button > 10 <i class="fab fa-gg-circle"></i> </button> </mat-list-item>
                    <mat-list-item>  
                        <input matInput type="number" name="timer" step="1" id="stake" placeholder="100 "> 
                        <span matSuffix><i class="fab fa-gg-circle"></i> </span>
                    </mat-list-item>
                </mat-list>
                
            </mat-step>
          
            <!-- Icon overrides. -->
            <ng-template matStepperIcon="phone">
              <mat-icon>call_end</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="chat">
                <mat-icon>compare_arrows</mat-icon>
            </ng-template>
          </mat-stepper>
        <!-- <mat-list  fxLayout="row wrap"  fxFlexAlign="center">
            <mat-list-item> <button  mat-flat-button > 1 <i class="fab fa-gg-circle"></i> </button> </mat-list-item>
            <mat-list-item> <button  mat-flat-button > 5 <i class="fab fa-gg-circle"></i> </button> </mat-list-item>
            <mat-list-item> <button  mat-flat-button > 10 <i class="fab fa-gg-circle"></i> </button> </mat-list-item>
            <mat-list-item>  <input mat-flat-button type="number" min="0" step="0.1" name="" placeholder="Custom Amount" class="position-size"> </mat-list-item>
        </mat-list> -->

        <div style="margin-bottom:20px" class="d-flex justify-content-around">
            <button mat-raised-button fxFlex="48%" id="long-btn"> <span><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M7.293 1.207.707 7.793c-.63.63-.184 1.707.707 1.707h13.172c.89 0 1.337-1.077.707-1.707L8.707 1.207a1 1 0 0 0-1.414 0Z" fill="currentColor"></path></svg></span> UP</button>
            <button mat-raised-button  fxFlex="48%" id="short-btn"> <span class="down"><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M7.293 1.207.707 7.793c-.63.63-.184 1.707.707 1.707h13.172c.89 0 1.337-1.077.707-1.707L8.707 1.207a1 1 0 0 0-1.414 0Z" fill="currentColor"></path></svg></span> DOWN</button>
        </div>
    </form>
