mat-list { 
    display: flex;
    align-items: center;
}

.position-size{
    height: 50px;
    border: #5d5966 1.2px solid;
    border-radius: 10px;
    background: rgba(240, 248, 255,0.05);
    backdrop-filter: blur(10px);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
button {
    background: none;
}


.layer1 {
    background-color: #18191e;
}
mat-slider { 
    width: 100%;
}
mat-list-item {
    margin: 5px;
    max-width: 100px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    border: none;
    
}
mat-list-item button {
    min-width: 100px;
    height: 35px;
    background-color:rgb(16, 17, 21);
    border: 1px solid rgb(29, 30, 35);
    border-radius: 5rem;
}
mat-list-item button:hover {
    border-radius: 5rem;
    color: rgb(147, 141, 255);
    border-color: rgb(33, 32, 57);
    background-color: rgb(33, 32, 57);
}


#long-btn, #short-btn {
    font-size: 2rem;
    height: 60px;
    display:block;
    border-radius: 5px;
}

button,input{
    color: aliceblue;
}

#long-btn {
    background-image: linear-gradient(315deg, #1f1f1f 0%, #568045 74%);
    border: 1px solid rgb(82, 82, 82);
    color: rgb(202, 202, 202);
}
#long-btn:hover {
}  
#short-btn{ 
    background-color: #000000;  
    background-image: linear-gradient(115deg, #242424 0%, #514772 74%);
    border: 1px solid rgb(82, 82, 82);
    color: rgb(202, 202, 202);
}
#short-btn:hover {
    
}
.u-btn {
    background: none;
    border: none;
    padding:0.5rem 1rem;
}

.account-balance {
    font-size: 25 rem;
}
.size-slider {
    width: 100%;
}
.u-btn:active::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 4px;
    background-color: rgb(147, 141, 255);
    border-radius: 1rem
}
mat-stepper{
    background:none;
}
.down {
    display: inline-block;
    transform: rotate(180deg); 
}