mat-list { 
    display: flex;
    align-items: center;
}

.position-size{
    height: 50px;
    border: #5d5966 1.2px solid;
    border-radius: 10px;
    background: rgba(240, 248, 255,0.05);
    backdrop-filter: blur(10px);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
button {
    background: none;
}


.layer1 {
    background-color: #18191e;
    margin: 10px;
}
mat-slider { 
    width: 100%;
}
mat-list-item {
    margin: 5px;
    max-width: 100px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    border: none;
    
}
mat-list-item button {
    min-width: 80px;
    border: #5d5966 1px solid;
    border-radius: 10px;
    background: rgba(240, 248, 255,0.05);
    backdrop-filter: blur(10px);
}
mat-list-item button:hover {
    background-image: linear-gradient(to left, rgba(143, 111, 218,0.8), rgba(228, 131, 192,0.8));
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    transition-duration: 0.4s;
    backdrop-filter: blur(5px);
}

mat-card { 
    width: 100%;
}

.ls-btns button {
    font-size: 1.5rem;
    font-family: monospace;
    height: 50px;
    margin: 5px;

}

button,input{
    color: aliceblue;
}
form {
    margin: 25px;
}
.control-wrapper {
    overflow: hidden;
    border-radius: 15px;
    background-color: #18191e;
}

#long-btn {
    border: solid cadetblue 1px;
    background-image: linear-gradient(18.6deg, rgb(106, 73, 190) 19%, rgb(34, 168, 137) 91.7%)}
#long-btn:hover {
    border: solid rgb(79, 213, 218) 2px;
}  
#short-btn{ 
    border: solid rgb(160, 95, 95) 1px;
    background-image: linear-gradient(100deg, rgb(214, 55, 77) 19%, rgb(70, 50, 158) 91.7%)
}
#short-btn:hover {
    border: solid rgb(247, 95, 49) 2px;
}
.u-btn {
    background: none;
    border: none;
    padding:0.5rem 1rem;
}

.account-balance {
    font-size: 25 rem;
}
.size-slider {
    width: 100%;
}
.u-btn:active::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 4px;
    background-color: rgb(147, 141, 255);
    border-radius: 1rem
}