<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>
  
  <!-- Modal -->
  <div class="modal fade show"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content" style="min-width: 50vw; ">
        <div class="modal-header" style="border: none;" >
        
        </div>
        <button style="background: none; box-shadow: none;  right: 5px; position: absolute; " mat-mini-fab data-bs-dismiss="modal">
            <mat-icon>close</mat-icon>
        </button>
        <div class="modal-body  d-flex justify-content-center">
            <img style="width: 70%;" src="../../../../assets/489.png">

        </div>
        <div style="width: 70%; align-self: center;">
            <p style="font-size: 1.5rem; line-height: 1; color: rgb(46, 46, 46);">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
        </div>
        <button mat-flat-button color="acent" type="button" style="width: 300px; height: 70px; font-size: 1.5rem; align-self: center;" >Lets go !</button>

        <div class="modal-footer" style="border: none;" style="align-self: center; height: 100px;">
            <button style="background: none; box-shadow: none;" mat-button data-bs-dismiss="modal" style="color: rgb(46, 46, 46);"> I already have experience </button>
        </div>
      </div>
    </div>
  </div>