#exampleModal {
    background-color: rgba(197, 197, 197, 0.02);
    backdrop-filter: blur(10px);
}

.modal-content {
    background: rgb(36, 36, 36);
}

.modal-footer {
    border: none !important;
}

#close-btn:hover { color: #989968 !important;  }
#go-btn:hover { background-color: #606d75; }