#exampleModal {
    background-color: rgba(199, 197, 197, 0.07);
    backdrop-filter: blur(10px);
}

.modal-content {
    background: rgb(20, 20, 20);
}

.modal-footer {
    border: none !important;
}

#close-btn:hover { color: #989968 !important;  }
#go-btn:hover { background-color: #b4da6e !important; border: #8efa5d 2px solid !important; color: rgb(70, 70, 70) !important;}