mat-sidenav-container,mat-sidenav,mat-toolbar  {
  background: none;
  background-color: none;
}
span,button {
  color: aliceblue;
}
.sidenav-container {
  height: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(77, 77, 77, 0.02);
  backdrop-filter: blur(10px);
}

.sidenav {
  width: 100%;
  height: 100%;
}



.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  display: block;
  margin: 0 10px;
}

.hidden-tablet { 
  display: none;
}

.space {
  flex: 1 0 0;
}

#btn-toggle { 
  position: absolute;
  z-index: 9999;
  right: 10px;
  top: 10px;
}
#started-btn:hover {
  background-image: linear-gradient(to right top, #3f51b5, #0088e8, #00b5d4, #00d786, #a8eb12);
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  transition-duration: 0.5s;
}
@media (min-width: 768px) {
  .hidden-tablet { 
    display: flex;
  }
  .sidenav { 
    display: none;
  }
}