<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <button 
      id="btn-toggle"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <mat-toolbar>    
      <button mat-stroked-button color="acent" routerLink="/login"> Login</button>
      <button mat-flat-button color="primary" routerLink="/sign-up"> Get Started</button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/home">Price</a>
    
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="nav-bar"> 
      <button 
      id="btn-toggle"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class='logo'> 
        <mat-icon>polymer</mat-icon>  
        {{title}}
      </span>
      <span class="space"></span>

      <div class="hidden-tablet" >
        <a href="#" routerLink="/home">ABOUT</a>
        <a href="#" routerLink="/home">QUICK TOUR</a>
      </div>
      <button class="hidden-tablet" mat-flat-button color="primary" routerLink="/battle" id="battle-btn"> 
        <mat-icon>swap_vert</mat-icon>
        JOIN BATTLE
      </button> -->    
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
