<app-global-header></app-global-header>

<div class="container-fluid d-flex nowrap flex-row justify-content-around"> 
        <div id="frame-1" class="container-fluid flex-grow-1" [autoClose]="false"  triggers="manual" #p="ngbPopover" [ngbPopover]="popContent" popoverTitle="Trading Tab">
                <app-price-chart dynamicHeight [autoClose]="false"  triggers="manual" #p2="ngbPopover" [ngbPopover]="popContent2" popoverTitle="Price Chart"></app-price-chart>
                <app-control [autoClose]="false"  triggers="manual" #p3="ngbPopover" [ngbPopover]="popContent3" popoverTitle="Terminal"></app-control>
        </div>
        <div id="frame-2" class="container" class="container-fluid flex-grow-1" [autoClose]="false"  triggers="manual" #p4="ngbPopover" [ngbPopover]="popContent4" popoverTitle="Profile Tab">
                <mat-tab-group dynamicHeight  [autoClose]="false"  triggers="manual" #p5="ngbPopover" [ngbPopover]="popContent5" popoverTitle="Account">
                        <mat-tab label="My Account"> 
                                <app-account></app-account>
                        </mat-tab>
                        <mat-tab label="Match History">         
                                <app-history></app-history>
                        </mat-tab>
                        <mat-tab label="Statistics"> Content 3 </mat-tab>
                </mat-tab-group>
                <hr>
                <app-ranking  [autoClose]="false"  triggers="manual" #p6="ngbPopover" [ngbPopover]="popContent6" popoverTitle="Ranking"></app-ranking>
        </div>
</div>
<app-welcome-modal></app-welcome-modal>
<button id="start-guide" style="display: none;" (click)="p.open()"> </button>


<ng-template #popContent>
        <p style="color:rgb(27, 27, 27)">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus. 
        </p>
        <button (click)="p.close()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <button (click)="p.close(); p2.open()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> Next</button>
        </div>
</ng-template>
<ng-template #popContent2>
        <p style="color:rgb(27, 27, 27)">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus. 
        </p>
        <button (click)="p2.close()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <button (click)="p2.close(); p3.open()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> Next</button>
        </div>
</ng-template>
<ng-template #popContent3>
        <p style="color:rgb(27, 27, 27)">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus. 
        </p>
        <button (click)="p3.close()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <button (click)="p3.close(); p4.open()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> Next</button>
        </div>
</ng-template>
<ng-template #popContent4>
        <p style="color:rgb(27, 27, 27)">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus. 
        </p>
        <button (click)="p4.close()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <button (click)="p4.close(); p5.open()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> Next</button>
        </div>
</ng-template>
<ng-template #popContent5>
        <p style="color:rgb(27, 27, 27)">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus. 
        </p>
        <button (click)="p5.close()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <button (click)="p5.close(); p6.open()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> Next</button>
        </div>
</ng-template>
<ng-template #popContent6>
        <p style="color:rgb(27, 27, 27)">
                Vivamus sagittis lacus vel augue laoreet rutrum faucibus. 
        </p>
        <button (click)="p2.close()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <button (click)="p6.close()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> Done</button>
        </div>
</ng-template>
