
*{
    color: rgb(215, 220, 224);
    font-family: 'Archivo', sans-serif;
}
h1,h2,h3 {
    font-size: 1.5rem;
}

app-account{
    box-shadow: 4px -2px 34px 1px #000 inset;
    background-color: black;
}
app-control  {
    background:rgba(24, 25, 30,0.5);
}
div[id*='frame'] {
    border: rgb(43, 43, 43) 1px solid;
    border-radius: 25px;
    background-color: rgba(77, 77, 77, 0.02);
    backdrop-filter: blur(5px);
    margin: 5px; 
}
#frame-1 {
    width: 100%;
    box-shadow: -2px 0px 29px 0px #272675;
}
#frame-2 {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    width: min-content;
    display:block;
    box-shadow: -2px 0px 29px 0px #272675;
}
app-price-chart {
    border-radius: 20px;
}