<app-global-header></app-global-header>

<div class="container-fluid d-flex nowrap flex-row justify-content-around"> 
        
        <div  [ngClass]="{'highlight':b1}" id="frame-1" class="container-fluid flex-grow-1" [autoClose]="false"  triggers="manual" #p="ngbPopover" [ngbPopover]="popContent" popoverTitle="Trading Tab">
                <div>
                        <app-price-chart   [ngClass]="{'highlight':b2}" dynamicHeight [autoClose]="false"  triggers="manual" #p2="ngbPopover" placement="bottom" [ngbPopover]="popContent2" popoverTitle="Price Chart"></app-price-chart>
                        <lottie-player [ngClass]="{'go_ani':you_won}" id="go_ani" src="https://assets5.lottiefiles.com/packages/lf20_c0ln8tyz.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                        <lottie-player  [ngClass]="{'go_ani':start_animation}" id="go_ani" src="https://assets8.lottiefiles.com/packages/lf20_pge4fjym.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                        <lottie-player [ngClass]="{'go_ani':you_lost}" id="go_ani" src="https://assets6.lottiefiles.com/packages/lf20_ccxfskpm.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>

                </div>  
                
                <div class="game-tracker" style=" display: block;padding-bottom: 20px;" [hidden]="!game_state">
                        <div class="time-tracker" style=" margin-bottom: 5px; justify-content: center; text-align: center;">
                                <h5 style="font-weight: bold; display: block; font-size: 1.1rem;"> Game ends in <span> {{counter}} </span>  seconds </h5>
                                <br>
                                <span style="font-weight: bold; display: block;"> Stay above <span style="  color:#a6f069">  ${{ mid}} </span> to win or reach strike-price. </span>
                        </div>
                        <div id="game-tracker-container" class="container-fluid d-flex flex-wrap flex-row justify-content-center align-items-center">
                        <div id="image1" class="cropcircle"> </div>
                        <div id="image2" class="cropcircle"> </div>
                        <mat-progress-bar style="width: 100%;" mode="determinate" [value]="cprogress"></mat-progress-bar>
                        <h5 style="position: absolute; margin-top: 10px; display:block; align-self: center; font-weight:500; "> NOW: ${{cp}}</h5>
                        </div>
                        <div class="d-flex justify-content-between">
                                <span style="left: 15px; margin-top: 10px; font-weight: bold; display: block;">  You Lose <br><span style=" color:#cf8df5"> ${{lose}} </span> </span>
                                <span style="right:15px; margin-top: 10px; font-weight: bold; text-align:right;display: block;"> You Win  <br>      <span style="  color:#a6f069"> ${{win}} </span></span>
                        </div>
                       
                </div>
                
                <app-control [hidden]="game_state" [ngClass]="{'highlight':b3}" [autoClose]="false"  triggers="manual" #p3="ngbPopover" [ngbPopover]="popContent3" placement="top" popoverTitle="Terminal"></app-control>
        </div>
        
        <div [ngClass]="{'highlight':b4}" id="frame-2" class="container container-fluid flex-grow-1" [autoClose]="false"  triggers="manual" #p4="ngbPopover" [ngbPopover]="popContent4" popoverTitle="Profile Tab">
                <mat-tab-group [ngClass]="{'highlight':b5}" dynamicHeight  [autoClose]="false"  triggers="manual" #p5="ngbPopover" [ngbPopover]="popContent5" popoverTitle="Account">
                        <mat-tab label="My Account"> 
                                <app-account></app-account>
                                
                                <lottie-player [ngClass]="{'congrats':congrats}" src="https://assets3.lottiefiles.com/packages/lf20_u4yrau.json"  background="transparent"  speed="1"  style="width: 100%; height: 100%;"  loop  autoplay></lottie-player>                        </mat-tab>
                        <mat-tab label="Match History">         
                                <app-history></app-history>
                        </mat-tab>
                        <mat-tab label="Statistics" [disabled]="true"> 
                                
                        </mat-tab>
                </mat-tab-group>
                <hr>
                <app-ranking [ngClass]="{'highlight':b6}" style="display: block; margin: 5px;" [autoClose]="false"  triggers="manual" #p6="ngbPopover" [ngbPopover]="popContent6" popoverTitle="Ranking"></app-ranking>
        </div>
</div>
<app-welcome-modal></app-welcome-modal>
<button id="start-guide" style="display: none;" (click)="p.open(); hl(1)"> </button>


<ng-template #popContent>
        <p style="color:rgb(27, 27, 27)">
                This tab shows all the information and components related to the trading game. 
        </p>
        <button (click)="p.close(); hl(0)" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <h5 style="color: #686868; position: absolute; font-size: 1.0rem; bottom: -1px;" > 1/6 </h5>
                <button (click)="p.close(); p2.open(); ; hl(2)" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> NEXT</button>
        </div>
</ng-template>
<ng-template #popContent2>
        <p style="color:rgb(27, 27, 27)">
                This chart shows the open, high, low and close prices of an asset over a specified period of time. 
        </p>
        <button (click)="p2.close(); hl(0)" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <h5 style="color: #686868; position: absolute; font-size: 1.0rem; bottom: -1px;" > 2/6 </h5>
                <button (click)="p2.close(); p3.open(); hl(3)" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> NEXT</button>
        </div>
</ng-template>
<ng-template #popContent3>
        <p style="color:rgb(27, 27, 27)">
                This tab shows the components required to start the game.
        </p>
        <button (click)="p3.close(); hl(0)" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <h5 style="color: #686868; position: absolute; font-size: 1.0rem; bottom: -1px;" > 3/6 </h5>
                <button (click)="p3.close(); p4.open(); hl(4)" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> NEXT</button>
        </div>
</ng-template>
<ng-template #popContent4>
        <p style="color:rgb(27, 27, 27)">
                This tab shows all the information about the user. 
        </p>
        <button (click)="p4.close(); hl(0)" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <h5 style="color: #686868; position: absolute; font-size: 1.0rem; bottom: -1px;" > 4/6 </h5>

                <button (click)="p4.close(); p5.open(); hl(5)" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> NEXT</button>
        </div>
</ng-template>
<ng-template #popContent5>
        <p style="color:rgb(27, 27, 27)">
                This shows the basic user information, such as account balance and points.  
        </p>
        <button (click)="p5.close(); hl(0)" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <h5 style="color: #686868; position: absolute; font-size: 1.0rem; bottom: -1px;" > 5/6 </h5>

                <button (click)="p5.close(); p6.open(); hl(6)" mat-button style="border-radius: 5px; padding: 1px; color: #686868; float: right;"> NEXT</button>
        </div>
</ng-template>
<ng-template #popContent6>
        <p style="color:rgb(27, 27, 27)">
                Here is the leaderboard of best traders. Keep playing and reach first place! 
        </p>
        <button (click)="p2.close()" mat-button style="border-radius: 5px; padding: 1px; color: #686868; top: 2px; right: 2px; position: absolute;">            
                 <mat-icon style="color: #a17f36;" id="close-btn">close</mat-icon>
        </button> 

        <div>
                <h5 style="color: #686868; position: absolute; font-size: 1.0rem; bottom: 10px;" > 6/6 </h5>
                <button  (click)="p6.close(); hl(0); congr();" data-bs-toggle="modal" data-bs-target="#learnModal" mat-button style=" margin-bottom: 5px; border-radius: 10px; background: rgb(224 224 131); color: #1d1d1d; font-weight: bold; font-size: 0.7rem;"> Learn the Game Rules ? </button>

                <button  (click)="p6.close(); hl(0); congr(); " mat-button style=" margin-bottom: 5px; border-radius: 10px; background: rgb(231, 231, 231); color: #411d7a; float: right; font-weight: bold; font-size: 0.7rem;"> Done </button>
        </div>
</ng-template>









<!-- Modal -->
<div class="modal fade show" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="false">
        <div class="modal-dialog d-flex justify-content-center" >
          <div class="modal-content" style="  border: rgb(92, 122, 101) 2px solid; border-radius: 15px;" > 
            <div class="modal-header" style="border: none;" >
            </div>
            <button style="background: none; box-shadow: none;  right: 5px; position: absolute; " mat-mini-fab data-bs-dismiss="modal">
                <mat-icon style="color: #a6f069;" id="close-btn">close</mat-icon>
            </button>
            <h1 style=" text-align: center; color:#a6f069; font-weight:400">
              Lets confirm your position again.  
            </h1>
            
            <div style="width:70%; align-self:center;">
                <p style="font-size: 1.2rem; line-height: 1; color: rgb(214, 214, 214);"> Pair (Quote & Base): BTC-USD <br> <br>  Latest Price: ${{cp}} USD <br><br> Speculate <span style="color: #a6f069;"> UP</span> for <span style=""> <br>  >  15s Match <br> >  Strike Prices are 1% deviated from Current Price <br> >  $50 Collateral (fake money) </span>  </p>
            </div>
    
            <div class="modal-footer" style="border: none; " style="align-self: center; height: 100px;">
                <button mat-raised-button style="background: #a6f069; color: #222222; font-weight: bold;" mat-button data-bs-dismiss="modal" (click)="game();"> Yes, Execute Now !</button>
            </div>
          </div>
        </div>
      </div>
    
<!-- Modal -->

      <div class="modal fade show" id="learnModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="false">
        <div class="modal-dialog d-flex justify-content-center" >
          <div class="modal-content" style="  border: rgb(92, 122, 101) 2px solid; border-radius: 15px;" > 
            <div class="modal-header" style="border: none;" >
            </div>
            <button style="background: none; box-shadow: none;  right: 5px; position: absolute; " mat-mini-fab data-bs-dismiss="modal">
                <mat-icon style="color: #a6f069;" id="close-btn">close</mat-icon>
            </button>
            <h1 style=" text-align: center; color:#a6f069; font-weight:400">
              UP and DOWN ?
            </h1>
            <div class="modal-body  d-flex justify-content-center" >
                <iframe width="100%" height="400px" src="https://youtu.be/1Mhk4UHJsRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            <div style="width:70%; align-self:center;">
                <p style="font-size: 1.2rem; line-height: 1; color: rgb(214, 214, 214);">   </p>
            </div>
    
            <div class="modal-footer" style="border: none; " style="align-self: center; height: 100px;">
                <button mat-raised-button style="background: #a6f069; color: #222222; font-weight: bold;" mat-button data-bs-dismiss="modal" > Got it, Let me try now !</button>
            </div>
          </div>
        </div>
      </div>
