body{
    overflow:hidden;
}
*{
    color: rgb(215, 220, 224);
}
div {
    display: block  ;
}


.container-1 > *, .container-2 > * {
    border: rgb(43, 43, 43) 1px solid;
    border-radius: 15px;
    background-color: rgba(77, 77, 77, 0.02);
    backdrop-filter: blur(2px);
    margin: 4px;
}
.container-1 {
    width: 70vw;
    height:70vh;
}
app-chart-view { 
    margin: 15px;
}

.chart-view-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-2 {
    height: fit-content;
}