<app-global-header></app-global-header>
<div fxLayout="row" fxLayout.xs="column"> 
        <div fxLayout="column">
                <div class="container" fxLayout="column">
                        <div class="low-boder">
                                <h3>Realtime Chart</h3>
                        </div>
                        <div class="price-chart"> 
                                <app-price-chart ></app-price-chart>
                        </div>
                        <div class="container">
                                Bull vs Bear 
                        </div>
                </div>
                
                <div class="container">   
                        <div fxLayout="row" fxAlign="center">
                                <div > <h3> All Time </h3> </div>
                                <div> <h3> This Week </h3> </div>
                        </div>
                        <app-ranking></app-ranking>
                </div>

        </div>
        <div class="container-2" fxLayout="column"  fxFlexAlign="center">
                <div>
                    <app-control></app-control>
                </div>
        </div>
</div>