@import url('http://fonts.cdnfonts.com/css/alliance-no1');
body{
    margin: 0%;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #12111f 74%);    background-repeat: repeat-x;
    color: rgb(105, 105, 105);
    min-height:100vh;
}
.popover-header {
    background: none;
    color: rgb(30, 35, 41);
    font-weight: 800 !important;
}
.popover-body {
    color: rgb(30, 35, 41);
    font-size: 10px;
    font-weight: bold;
}
.popover {
    background-color: rgb(240, 185, 11);

}
.bs-popover-auto[data-popper-placement^=right]>.popover-arrow::after, .bs-popover-end>.popover-arrow::after{

    border-right-color: rgb(240, 185, 11);
}

.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after, .bs-popover-bottom>.popover-arrow::after{

    border-bottom-color: rgb(240, 185, 11);
}
.bs-popover-auto[data-popper-placement^=top]>.popover-arrow::after, .bs-popover-top>.popover-arrow::after {
    border-top-color: rgb(240, 185, 11);
}
.bs-popover-auto[data-popper-placement^=left]>.popover-arrow::after, .bs-popover-start>.popover-arrow::after {
    border-left-color: rgb(240, 185, 11);
}
ngb-popover-window {
    z-index: 10000 !important;
}