@import url('http://fonts.cdnfonts.com/css/alliance-no1');
body{
    margin: 0%;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #12111f 74%);    background-repeat: repeat-x;
    color: rgb(105, 105, 105);
    min-height:100vh;
}
